@media screen and (max-width: 862px) {
    .menu {
        z-index: 100;
       
        position: fixed;
        top: 0;
        /* height: 5%; */
        display: inline-block;
    }
    .menu2 {
        z-index: 9;
        /* position: fixed; */
        position: relative;
        top: 33px;
         border: 1px solid red;
        width: 100%;
        padding-left: 2%;
        display: flex;
        background: #fff;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    }
    .toggle-nav {
/*       border: 1px solid blue; */
        position: absolute;
        left: 4%;
        color: gray;
        text-decoration: none;
        line-height: 40px;
    }

    .language-switch{
        width: 10%;
        display: flex;
       margin: auto;
        border: 2px solid purple;
        margin-left: 7%;
      }
      .language-switch>h1{
        display: flex;
        font-size: 18px;
        /* position: relative; */
  
        border: 1px solid red;
        color: grey
      }
      .language-switch>span.triangle1{
        display: flex;
        margin: auto;
        margin-left: 3%;
        border: 10px solid red;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid rgb(148, 148, 148);
        border-bottom: 8px solid transparent;
        width:0px;
        height:0px;
      }
      
    .menu .menu-logo {
        position: relative;
        float: right;
        margin: 2px 10px;
        width: 29px;
        height:29px;
    }
    .menu ul.active {
        display: none;
        width: 100%;
       

    }
    .menu ul {
       position: absolute;
       top: 75%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #fff;
        width: 100%;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
        font-size: 12px;
    }
    .menu2 li {
        border: 1px solid rgb(173, 171, 171);
        border-radius: 10px;
       float: left;
        list-style: none;
        font-size: 14px;
        margin: 5px;
        padding: 6px;
    }
    .menu a {
        display: block;
    }

    .search-partner-input {
        margin-right: 5%;
        display: flex;
        align-items: center;
        border: 1px solid red;
      }
      .search-partner-input-btn{
        background: linear-gradient(270deg,#64d4b8,#17ad99);
        width: 34px;
        height: 30px;
        line-height: 64px;
        text-align: center;
        border-left: 1px solid #e9e9eb;
        border: 1px solid blue;
        border-radius: 10px 0 0 10px;
      
      }
      .search-partner-input-btn {
        display: flex;
      }
      .search-partner-input-btn img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        margin-top: 6px;
        margin-left: 10px;
      }
      .search-partner-input input {
        border: 1px solid green;
        width: 170px;
        height: 30px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 0 10px 10px 0;
      }
}

@media (min-width: 768px) and (max-width: 1199px){
    
    .search-results{
        position: relative;
        z-index: -100;
        width: 100%;
        margin-top: 15%;
        margin-bottom: 20px;
        border: 2px solid orange;
      }

     
}