
@media screen and (max-width: 862px) {
    .menu {
        z-index: 100;
       
        position: fixed;
        top: 0;
        /* height: 5%; */
        display: inline-block;
    }
    .menu2 {
        z-index: 9;
        /* position: fixed; */
        position: relative;
        top: 33px;
         border: 1px solid red;
        width: 100%;
        padding-left: 2%;
        display: flex;
        background: #fff;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    }
    .toggle-nav {
/*       border: 1px solid blue; */
        position: absolute;
        left: 4%;
        color: gray;
        text-decoration: none;
        line-height: 40px;
    }

    .language-switch{
        width: 10%;
        display: flex;
       margin: auto;
        border: 2px solid purple;
        margin-left: 7%;
        padding-top: 3px;
      }
      .language-switch>h1{
        display: flex;
        font-size: 18px;
       
        /* position: relative; */
  
        border: 1px solid red;
        color: grey
      }
      .language-switch>span.triangle1{
        display: flex;
        margin: auto;
        margin-left: 3%;
        border: 10px solid red;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid rgb(148, 148, 148);
        border-bottom: 8px solid transparent;
        width:0px;
        height:0px;

      }
      
    .menu .menu-logo {
        position: relative;
        float: right;
        margin: 2px 10px;
        width: 29px;
        height:29px;
    }
    .menu ul.active {
        display: none;
        width: 100%;
       

    }
    .menu ul {
       position: absolute;
       top: 75%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #fff;
        width: 100%;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
        font-size: 12px;
    }
    .menu2 li {
        border: 1px solid rgb(173, 171, 171);
        border-radius: 10px;
       float: left;
        list-style: none;
        font-size: 14px;
        margin: 5px;
        padding: 6px;
    }
    .menu a {
        display: block;
    }

    .search-partner-input {
        margin-right: 5%;
        display: flex;
        align-items: center;
        border: 1px solid red;
      }
      .search-partner-input-btn{
        background: linear-gradient(270deg,#64d4b8,#17ad99);
        width: 34px;
        height: 30px;
        line-height: 64px;
        text-align: center;
        border-left: 1px solid #e9e9eb;
        border: 1px solid blue;
        border-radius: 10px 0 0 10px;
      
      }
      .search-partner-input-btn {
        display: flex;
      }
      .search-partner-input-btn img {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        margin-top: 6px;
        margin-left: 10px;
      }
      .search-partner-input input {
        border: 1px solid green;
        width: 170px;
        height: 30px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 0 10px 10px 0;
      }
   
    .search-results{
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 20px;
        border: 2px solid orange;
      }

     
}


@media(min-width: 500px) and (max-width: 862px) {
        .menu {
            z-index: 100;
           
            position: fixed;
            top: 0;
            /* height: 5%; */
            display: inline-block;
        }
        .menu2 {
            z-index: 9;
            /* position: fixed; */
            position: relative;
            top: 33px;
             border: 1px solid red;
            width: 100%;
            padding-left: 2%;
            display: flex;
            background: #fff;
            box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
        }
        .toggle-nav {
    /*       border: 1px solid blue; */
            position: absolute;
            left: 4%;
            color: gray;
            text-decoration: none;
            line-height: 40px;
        }
    
        .language-switch{
            width: 10%;
            display: flex;
           margin: auto;
            border: 2px solid purple;
            margin-left: 7%;
            padding-top: 3px;
          }
          .language-switch>h1{
            display: flex;
            font-size: 18px;
           
            /* position: relative; */
      
            border: 1px solid red;
            color: grey
          }
          .language-switch>span.triangle1{
            display: flex;
            margin: auto;
            margin-left: 3%;
            border: 10px solid red;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid rgb(148, 148, 148);
            border-bottom: 8px solid transparent;
            width:0px;
            height:0px;
    
          }
          
        .menu .menu-logo {
            position: relative;
            float: right;
            margin: 2px 10px;
            width: 29px;
            height:29px;
        }
        .menu ul.active {
            display: none;
            width: 100%;
           
    
        }
        .menu ul {
           position: absolute;
           top: 75%;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
            border-radius: 0px 0px 3px 3px;
            background: #fff;
            width: 100%;
        }
        .menu li {
            margin: 10px 0px 10px 0px;
            float: none;
            display: block;
            font-size: 12px;
        }
        .menu2 li {
            border: 1px solid rgb(173, 171, 171);
            border-radius: 10px;
           float: left;
            list-style: none;
            font-size: 14px;
            margin: 5px;
            padding: 3px 3px 3px 6px;
        }
        .menu a {
            display: block;
        }
    
        .search-partner-input {
            margin-right: 5%;
            display: flex;
            align-items: center;
            border: 1px solid red;
          }
          .search-partner-input-btn{
            background: linear-gradient(270deg,#64d4b8,#17ad99);
            width: 28px;
            height: 24px;
            line-height: 64px;
            text-align: center;
            border-left: 1px solid #e9e9eb;
            border: 1px solid blue;
            border-radius: 10px 0 0 10px;
          
          }
          .search-partner-input-btn {
            display: flex;
          }

          .search-partner-input-btn img {
            width: 16px;
            height: 16px;
            cursor: pointer;
            border-radius: 10px 0 0 10px;
            margin-top: 5px;
            margin-left: 8px;
          }
          .search-partner-input input {
            border: 1px solid green;
            width: 140px;
            height: 24px;
            font-size: 12px;
            font-weight: 300;
            border-radius: 0 10px 10px 0;
          }
        
    
        .search-results{
            position: relative;
            z-index: 1;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 20px;
            border: 2px solid orange;
          }
        .search-results>span{
         font-size: 18px;
    }
}
@media(max-width: 499px){
    .menu {
        z-index: 100;
       
        position: fixed;
        top: 0;
        /* height: 5%; */
        display: inline-block;
    }
    .menu2 {
        z-index: 9;
        /* position: fixed; */
        position: relative;
        top: 33px;
         border: 1px solid red;
        width: 100%;
        padding-left: 2%;
        display: flex;
        background: #fff;
        box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
    }
    .toggle-nav {
/*       border: 1px solid blue; */
        position: absolute;
        left: 4%;
        color: gray;
        text-decoration: none;
        line-height: 40px;
    }

    .language-switch{
        width: 10%;
        display: flex;
       margin: auto;
        border: 2px solid purple;
        margin-left: 7%;
        padding-top: 3px;
      }
      .language-switch>h1{
        display: flex;
        font-size: 18px;
       
        /* position: relative; */
  
        border: 1px solid red;
        color: grey
      }
      .language-switch>span.triangle1{
        display: flex;
        margin: auto;
        margin-left: 3%;
        border: 10px solid red;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid rgb(148, 148, 148);
        border-bottom: 8px solid transparent;
        width:0px;
        height:0px;

      }
      
    .menu .menu-logo {
        position: relative;
        float: right;
        margin: 2px 10px;
        width: 29px;
        height:29px;
    }
    .menu ul.active {
        display: none;
        width: 100%;
       

    }
    .menu ul {
       position: absolute;
       top: 75%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #fff;
        width: 100%;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
        font-size: 12px;
    }
    .menu2 li {
        border: 1px solid rgb(173, 171, 171);
        border-radius: 10px;
       float: left;
        list-style: none;
        font-size: 12px;
        margin: 5px;
        padding: 3px 5px;
    }
    .menu a {
        display: block;
    }

    .search-partner-input {
        margin-right: 5%;
        display: flex;
        align-items: center;
        border: 1px solid red;
      }
      .search-partner-input-btn{
        background: linear-gradient(270deg,#64d4b8,#17ad99);
        width: 28px;
        height: 24px;
        line-height: 64px;
        text-align: center;
        border-left: 1px solid #e9e9eb;
        border: 1px solid blue;
        border-radius: 10px 0 0 10px;
      
      }
      .search-partner-input-btn {
        display: flex;
      }

      .search-partner-input-btn img {
        width: 16px;
        height: 16px;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        margin-top: 5px;
        margin-left: 8px;
      }
      .search-partner-input input {
        border: 1px solid green;
        width: 120px;
        height: 24px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 0 10px 10px 0;
      }
    

    .search-results{
        position: relative;
        z-index: 1;
        width: 100%;
        margin-top: 85px;
        margin-bottom: 20px;
        border: 2px solid orange;
      }
    .search-results>span{
     font-size: 18px;
    }
}


@media (max-width: 963px){
    section.section{
        display: none;
    }
    .cards-left{
        width:100%;
    }
}

@media (max-width: 557px){
    .ant-avatar-icon>img{
        width: 100px;
      height: 100px;
    }
    .new-avatar-information>h1 {
        font-size: 18px;
    }
    .flag>img{
        width:32px;
        height: 24px;
        left: 68%;
    }
}

@media (max-width: 500px){
    .ant-avatar-icon>img{
        width: 70px;
      height: 70px;
    }
}


@media (max-width: 768px){
.show-more-btn {
    display: inline-block;
    padding: 0 15px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-image: linear-gradient(270deg,#64d4b8,#17ad99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;




    /* original */
/* 
display: inline-block;
margin-top: 60px;
margin-bottom: 80px;
margin-left: 50%;
transform: translateX(-50%);

padding: 0 15px;
width: 180px;
height: 56px;
font-size: 18px;
color: #fff;
background-image:linear-gradient(270deg,#64d4b8,#17ad99);
box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
border-radius: 4px;
text-align: center;
justify-content: center;
line-height: 56px;
cursor: pointer; */


    }
}

/* footer */
@media (max-width: 768px) {

  .foot>h1.foot1{
      border: 3px solid yellow;
      font-size: 22px;
      font-weight: bold;
      color: white;
      margin: 30px auto 20px;
      /* padding-top: 100px; */
      /* padding-bottom: 0px; */
  }
  .foot>p{
      font-size: 16px;
      line-height: 1.3;
      width: 80%;
      margin: 0 auto;
      /* display: inline-flex; */
      text-align: center;
      /* margin-bottom: 30px; */
      border: 2px solid purple;
  }
  
  
  .get-started-btn{
      display: inline-block;
      margin: 30px auto 30px;
      padding: 0 15px;
      width: 150px;
      height: 40px;
      
      font-size: 16px;
      color: #fff;
      background-image:linear-gradient(270deg,#64d4b8,#17ad99);
      box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
      border-radius: 4px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
  }
  






















  /* footer */
  .footer-part1{
      border: 1px solid green;
      width: 100%;
      align-items: flex-start;
      /* border-bottom: none; */
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;
  }
  .language-container{
      width: 23%;
      text-align: center;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid red;
      margin-top: 20px;
  
      color: grey;
      line-height: 1.4;
      font-size: 12px;
  
  }
  .footer-language>h3{
      color: black;
  }
  .language-container>ul{
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 50px;
      
  }
  
  .footer-icon{
      display: flex;
      border: 1px solid blue;
      width: 10%;
      height: 50px;
      margin: 0 auto;
      flex-direction: row;
      align-items: flex-end;
  }
  .footer-icon img{
      padding-right: 12px;
  
  }
}