
/* page1:  */
@media (min-width: 768px) and (max-width: 1199px){
    ul.nav_list>li {
        margin: 5px;
    }
    ul.nav_list_right>li{
        margin: 5px;
    }
    /* button.hamburger{
        display: inline-block;
    } */
    .homepage-native h1{
        font-size: 36px;
        line-height: 1.3;
    }
    .homepage-native h2{
        margin-bottom: 3%;
        font-size: 26px;
    }
    .homepage-menu-select{
        padding: 14px 25px 12px 15px;
        font-size: 12px;
        width: 260px;
        height: 10px;
    }
    span.homepage-search-icon{
        left: 300px;
        top: 0px;
        width: 46px;
        height: 40px;
    }
    span.homepage-search-icon>img{
        width: 25px;
        height:25px;
    }
    /* .down-button{
        display: none;
    } */
}

@media screen and (max-width: 862px) {
    .menu {
        z-index: 100;
        position: fixed;
        top: 0;
        /* height: 5%; */
        display: inline-block;
    }
    .toggle-nav {
/*       border: 1px solid blue; */
        position: absolute;
        left: 4%;
        color: #ffffff;
        text-decoration: none;
        line-height: 40px;
    }
    .menu .menu-logo {
        position: relative;
        float: right;
        margin: 2px 10px;
        width: 29px;
        height:29px;
    }
    .menu ul.active {
        display: none;
        width: 100%;
       

    }
    .menu ul {
       position: absolute;
       top: 75%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 3px 3px;
        background: #272626;
        width: 100%;
    }
    .menu li {
        margin: 10px 0px 10px 0px;
        float: none;
        display: block;
        font-size: 12px;
    }
    .menu a {
        display: block;
    }
}
@media screen and (max-width: 400px){
    .menu {
        /* height: 5%; */
    }
} 

@media (min-width: 400px) and (max-width: 767px){

    /* .nav_list_container{
        width: 30%;
        height: 220px;
        margin-right: 0;
        background-color: black; opacity: 0.8;
    }
    ul.nav_list_left{
        float: left;

    }
    ul.nav_list_right{
        float: right;
    }
    ul.nav_list_left>li {
        display: block;
        border: none;
    }
    ul.nav_list_right>li{
        display: block;
    } */
    .homepage-native{
        width: 80%;
        height: 30%;
        top: 15%;
    }
    .homepage-native h1{
        font-size: 26px;
        line-height: 1.2;
    }
    .homepage-native h2{
        margin-bottom: 3%;
        font-size: 18px;
    }
    .homepage-menu-select{
        padding: 14px 25px 12px 15px;
        font-size: 12px;
        width: 140px;
        height: 6px;
        }
    span.homepage-search-icon{
        left: 160px;
        top: 0px;
        width: 40px;
        height: 36px;
        }
    span.homepage-search-icon>img{
        width:20px;
        height:20px;
    }
    .down-button{
        display: none;
    }
}

@media (max-width: 399px){
  
    .homepage-native{
        width: 80%;
        height: 30%;
        top: 15%;
    }
    .homepage-native h1{
        font-size: 24px;
        line-height: 1.2;
    }
    .homepage-native h2{
        margin-bottom: 3%;
        font-size: 18px;
    }
    .homepage-menu-select{
        padding: 14px 25px 12px 15px;
        font-size: 12px;
        width: 140px;
        height: 6px;
        }
    span.homepage-search-icon{
        left: 160px;
        top: 0px;
        width: 40px;
        height: 36px;
        }
    span.homepage-search-icon>img{
        width:20px;
        height:20px;
    }
    .down-button{
        display: none;
    }
}

/* page2: slider */

@media (min-width: 768px) and (max-width: 1199px){
    .homepage-partners-slider-container h1 {
        font-size: 30px;
    }
    .homepage-partner-item>a>img{
        height: 195px;
        width: 309px;
    }
    .homepage-partner-slider{
        width: 90%;
    }
    .homepage-partner-item{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 40px;
    }
    .homepage-partner-detail{
        border: 1px solid purple;
        position: absolute;
        bottom: -20px;
        right: -10px;
        /* padding: 18px 20px 18px 54px; */
        width: 170px;
        height: 86px;
        background: #fff;
        box-shadow: 6px 6px 16px 0 rgba(0,0,0,.1);
        border-radius: 4px;
        cursor: pointer;
        z-index: 1;
    }
    .homepage-simple{
        
        /* left: 50%;
        transform: translateX(-50%); */
        height: 40px;
    }
    .homepage-simple>img{
        position: absolute;
       
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .homepage-simple> h2{
    font-size: 17px;
    }
    
}

@media (min-width: 400px) and (max-width: 767px){
    
    .homepage-partners-slider-container h1 {
        font-size: 24px;
    }
    .homepage-partner-item>a>img{
        height: 97px;
        width: 154px;
    }
    .homepage-partner-slider{
        width: 90%;
    }
    .homepage-partner-item{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 40px;
    }
    .homepage-partner-detail{
        border: 1px solid purple;
        position: absolute;
        bottom: -20px;
        right: -10px;
        /* padding: 18px 20px 18px 54px; */
        width: 100px;
        height: 66px;
        background: #fff;
        box-shadow: 6px 6px 16px 0 rgba(0,0,0,.1);
        border-radius: 4px;
        cursor: pointer;
        z-index: 1;
    }
    .homepage-simple{
        
        /* left: 50%;
        transform: translateX(-50%); */
        height: 40px;
    }
    .homepage-simple>img{
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .homepage-simple> h2{
        margin-left: 4px;    
        font-size: 14px;
    }
    
    .find-partner-btn {
        width: 160px;
        font-size: 18px;
        line-height: 50px;
    }

    
}

@media (max-width: 399px){
   
    .homepage-partners-slider-container h1 {
        font-size: 24px;
    }
    .homepage-partner-item>a>img{
        height: 99px;
        width: 142px;
    }
    .homepage-partner-slider{
        width: 96%;
    }
    .homepage-partner-item{

        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 40px;
    }
    .homepage-partner-detail{
        border: 1px solid purple;
        position: absolute;
        bottom: -20px;
        right: -10px;
        /* padding: 18px 20px 18px 54px; */
        width: 90px;
        height: 58px;
        background: #fff;
        box-shadow: 6px 6px 16px 0 rgba(0,0,0,.1);
        border-radius: 4px;
        cursor: pointer;
        z-index: 1;
    }
    .homepage-simple{
        height: 40px;
    }
    .homepage-simple>img{
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: 4px auto;
    }
    .homepage-simple> h2{
    margin-left: 5px;    
    font-size: 11px;
    }
    .find-partner-btn {
        width: 140px;
        font-size: 16px;
        line-height: 40px;
    }
}



/* page3: how does it work page */
@media (min-width: 1200px){
    .how-it-work-page-rwd{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .how-it-work-page{
        display: none;
    }
    .how-it-work-page-rwd{
        border: 1px solid blue;
        margin: 0px auto;
        width: 90%;
    }
    .how-it-work-page-step-rwd{
        border: 5px solid green;
        display: block;
        width: 100%;
        margin: 0 auto 50px auto;
    }
    .how-it-work-page-rwd>h1 {
        margin-top: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #414042;
    }
    
    .how-it-work-page-content-rwd{
    
        border: 4px solid red;;
    }
    
    .how-it-work-page-step-img-rwd{
        border:2px solid chartreuse;
    }
    
    .how-it-work-page-step-img-rwd>video{
        width: 400px;
        
        display: block;
        margin: 0 auto;
    }
    .how-it-work-page-step-img-rwd>img{
        
        width: 400px; 
        height: 210px;
        display: block;
        margin: 0 auto;
    }
    .how-it-work-page-step-explain-rwd {
        position: relative;
        border: 2px solid blueviolet;
       
    }
    
    .how-it-work-page-step-explain-rwd>h1{
        border: 2px solid orange;
        margin:0px 0 20px 0px;
        font-size: 20px;
        color: #414042;
    }
    .how-it-work-page-step-explain-rwd>p{
        border: 2px solid yellow;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }
    .how-it-work-page-number-rwd{
        position: absolute;
        top: 0;
        left: 9%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 300;
        border-radius: 50%;
        text-align: center;
        background-color:#64d4b8;
    }
}

@media (min-width: 400px) and (max-width: 767px){
    .how-it-work-page{
        display: none;
    }
    .how-it-work-page-rwd{
        border: 1px solid blue;
        margin: 0px auto;
        width: 80%;
    }
    .how-it-work-page-step-rwd{
        border: 5px solid green;
        display: block;
        width: 100%;
        margin: 0 auto 50px auto;
    }
    .how-it-work-page-rwd>h1 {
        margin-top: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #414042;
    }
    .how-it-work-page-content-rwd{
        border: 4px solid red;;
    }
    .how-it-work-page-step-img-rwd{
        border:2px solid chartreuse;
    }
    .how-it-work-page-step-img-rwd>video{
        width: 270px;
        display: block;
        margin: 0 auto;
    }
    .how-it-work-page-step-img-rwd>img{
        display: block;
        margin: 0 auto;
        width: 260px; 
        height: 160px;
    }
    .how-it-work-page-step-explain-rwd {
        position: relative;
        border: 2px solid blueviolet;
    }
    .how-it-work-page-step-explain-rwd>h1{
        border: 2px solid orange;
        margin:0px 0 10px -90px;
        font-size: 16px; 
        line-height: 1.1;
        color: #414042;
        width: 100%;
    }
    .how-it-work-page-step-explain-rwd>p{
        border: 2px solid yellow;
        width: 100%;
        font-size: 14px;
        line-height: 1.2;
        margin:0px 0 10px -20px;
    }
    .how-it-work-page-number-rwd{
        position: absolute;
        top: 0;
        left: 9%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 300;
        border-radius: 50%;
        text-align: center;
        background-color:#64d4b8;
    }
}
@media (max-width: 399px){
    .how-it-work-page{
        display: none;
    }
    .how-it-work-page-rwd{
        border: 1px solid blue;
        margin: 0px auto;
        width: 90%;
    }
    .how-it-work-page-step-rwd{
        border: 5px solid green;
        display: block;
        width: 100%;
        margin: 0 auto 0px auto;
    }
    .how-it-work-page-rwd>h1 {
        margin-top: 0px;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #414042;
    }
    .how-it-work-page-content-rwd{
        border: 4px solid red;;
    }
    .how-it-work-page-step-img-rwd{
        border:2px solid chartreuse;
    }
    .how-it-work-page-step-img-rwd>video{
        width: 230px;
        display: block;
        margin: 0 auto;
    }
    .how-it-work-page-step-img-rwd>img{
        display: block;
        margin: 0 auto;
        width: 230px; 
        height: 140px;
    }
    .how-it-work-page-step-explain-rwd {
        position: relative;
        border: 2px solid blueviolet;
    }
    .how-it-work-page-step-explain-rwd>h1{
        border: 2px solid orange;
        margin:0px 0 10px -110px;
        font-size: 18px;
        color: #414042;
        width: 100%;
    }
    .how-it-work-page-step-explain-rwd>p{
        border: 2px solid yellow;
        width: 150%;
        font-size: 18px;
        line-height: 1.2;
        margin:0px 0 10px -60px;
    }
    .how-it-work-page-number-rwd{
        position: absolute;
        top: 0;
        left: 9%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 300;
        border-radius: 50%;
        text-align: center;
        background-color:#64d4b8;
    }
}

/* page4: review */
@media (min-width: 1200px){
    section.reviews{
        width: 100%;
        /* height: 700px; */
        border: 1px solid red;
    }
    .review-container>h1{
        border: 1px solid blue;
        margin: 30px 0;
        font-size: 40px;
        text-align: center;
        color: #414042;
        font-weight: 300;
    }
    .review-container>div.student-carousel{
        margin: 0 auto;
        width: 60%;
        border: 1px solid orange;
        display: flex;
    }
    .student-item{
        border: 1px solid green;
        position: relative;
        
        margin: 1% 1.5% 1%;
       display: flex;
        width: 33.3333333333%;
        min-height: 400px;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        overflow: hidden;
    }
    .student-item>.details{
        position: absolute;
        
       width: 90%;
    
        border: 3px solid purple;
       
        top: 20%;
        left: 50%;
        transform: translateX(-50%) ;
        height: 400px;
    }
    .student-item>h1.student{
        border: 3px solid blue;
       
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) ;
        font-size: 20px;
        text-align: center;
        margin-top: 9%;
    }
    .details>div.name{
        /* position: relative; */
        /* margin: 20px 0;    */
        height: 30px;
        /* border: 1px solid blue; */
        margin: 20px;
        font-size: 16px;
        color: #777;
    }
    .details>div p{
        margin: 20px;
        font-size: 16px;
        color: #777;
    }
    .student-img{
        position: absolute;
        border: 1px solid yellow;
       right:0px;
        top: 10px;
    }
    .student-img img{
        border: 1px solid red;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    
    }
    
    .good-reviews>h1{
      text-align: center;
      margin: 10px auto 50px;
    }
}
@media (min-width: 800px) and  (max-width: 1199px){
    section.reviews{
        width: 100%;
        /* height: 700px; */
        border: 1px solid red;
    }
    .review-container>h1{
        border: 1px solid blue;
        margin: 30px 0;
        font-size: 24px;
        text-align: center;
        color: #414042;
        font-weight: 300;
    }
    .review-container>div.student-carousel{
        margin: 0 auto;
        width: 80%;
        border: 1px solid orange;
        display: flex;
    }
    .student-item{
        border: 1px solid green;
        position: relative;
        
        margin: 1% 1.5% 1%;
       display: flex;
        width: 33.3333333333%;
        min-height: 330px;
        height: auto;
        border-radius: 6px;
        box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
        overflow: hidden;
    }
    .student-item>.details{
        position: absolute;
       width: 90%;
        border: 3px solid purple;
        top: 12%;
        left: 50%;
        transform: translateX(-50%) ;
        height: 220px;
    }
    .student-item>h1.student{
        border: 3px solid blue;
       
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) ;
        font-size: 16px;
        text-align: center;
        margin-top: 9%;
    }
    .details>div.name{
        /* position: relative; */
        /* margin: 20px 0;    */
        height: 30px;
        /* border: 1px solid blue; */
        margin: 16px;
        font-size: 14px;
        color: #777;
    }
    .details>div p{
        margin: 16px;
        font-size: 14px;
        color: #777;
    }
    .student-img{
        position: absolute;
        border: 1px solid yellow;
       right:0px;
        top: 10px;
    }
    .student-img img{
        border: 1px solid red;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    
    }
    
    .good-reviews>h1{
      text-align: center;
      margin: 10px auto 50px;
    }
}
    @media (min-width: 632px) and  (max-width: 799px){
        section.reviews{
            width: 100%;
            /* height: 700px; */
            border: 1px solid red;
        }
        .review-container>h1{
            border: 1px solid blue;
            margin: 30px 0;
            font-size: 24px;
            text-align: center;
            color: #414042;
            font-weight: 300;
        }
        .review-container>div.student-carousel{
            margin: 0 auto;
            width: 80%;
            border: 1px solid orange;
            display: flex;
        }
        .student-item{
            border: 1px solid green;
            position: relative;
            
            margin: 1% 1.5% 1%;
           display: flex;
            width: 33.3333333333%;
            min-height: 280px;
            height: auto;
            border-radius: 6px;
            box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
            overflow: hidden;
        }
        .student-item>.details{
            position: absolute;
           width: 100%;
            border: 3px solid purple;
            top: 17%;
            left: 50%;
            transform: translateX(-50%) ;
            height: 220px;
        }
        .student-item>h1.student{
            border: 3px solid blue;
           
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) ;
            font-size: 12px;
            text-align: center;
            margin-top: 9%;
        }
        .details>div.name{
            /* position: relative; */
            /* margin: 20px 0;    */
            height: 30px;
            /* border: 1px solid blue; */
            margin: 10px;
            font-size: 10px;
            color: #777;
        }
        .details>div p{
            margin: 10px;
            font-size: 10px;
            color: #777;
        }
        .student-img{
            position: absolute;
            border: 1px solid yellow;
           right:0px;
            top: 5px;
        }
        .student-img img{
            border: 1px solid red;
            height: 46px;
            width: 46px;
            border-radius: 50%;
        
        }
        
        .good-reviews>h1{
          text-align: center;
          margin: 10px auto 50px;
        }
    }    
    @media (max-width: 631px){
        section.reviews{
            width: 100%;
           
            border: 1px solid red;
        }
        .review-container>h1{
            margin: 30px 0;
            font-size: 24px;
            text-align: center;
            color: #414042;
            font-weight: 300;
           
            
        }
        .review-container>div.student-carousel{
            margin: 0 auto;
            width: 58%;
            border: 1px solid orange;
            display: block;
        }
        .student-item{
            border: 1px solid green;
            position: relative;
            margin: 1% 2% 30px;
           display: block;
            width: 100%;
            min-height: 280px;
            height: auto;
            border-radius: 6px;
            box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
            overflow: hidden;
           
        }
        .student-item>.details{
            border: 1px solid purple;
            position: absolute;
            top: 10%;
            height: 220px;
            width: 80%;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
        .student-item>h1.student{
            border: 1px solid red;
            position: absolute;
            width: 100%;
            font-size: 18px;
            text-align: center;
            margin-top: 6%;
        }
        .details>div.name{
            /* position: relative; */
            /* margin: 20px 0;    */
            height: 30px;
            border: 1px solid blue;
            margin: 10px;
            font-size: 14px;
            color: #777;
        }
        .details>div p{
            margin: 10px;
            font-size: 14px;
            color: #777;
        }
        .student-img{
            position: absolute;
            border: 1px solid yellow;
            right:0px;
            top: 10px;
        }
        .student-img img{
            border: 1px solid red;
            height: 46px;
            width: 46px;
            border-radius: 50%;
        
        }
        
    }
    
    /* bottom-banner */


/* footer */

@media (max-width: 768px) {

    .foot>h1.foot1{
        border: 3px solid yellow;
        font-size: 22px;
        font-weight: bold;
        color: white;
        margin: 30px auto 20px;
        /* padding-top: 100px; */
        /* padding-bottom: 0px; */
    }
    .foot>p{
        font-size: 16px;
        line-height: 1.3;
        width: 80%;
        margin: 0 auto;
        /* display: inline-flex; */
        text-align: center;
        /* margin-bottom: 30px; */
        border: 2px solid purple;
    }
    
    
    .get-started-btn{
        display: inline-block;
        margin: 30px auto 30px;
        padding: 0 15px;
        width: 150px;
        height: 40px;
        
        font-size: 16px;
        color: #fff;
        background-image:linear-gradient(270deg,#64d4b8,#17ad99);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    
    /* footer */
    .footer-part1{
        border: 1px solid green;
        width: 100%;
        align-items: flex-start;
        /* border-bottom: none; */
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
    .language-container{
        width: 23%;
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid red;
        margin-top: 20px;
    
        color: grey;
        line-height: 1.4;
        font-size: 12px;
    
    }
    .footer-language>h3{
        color: black;
    }
    .language-container>ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 50px;
        
    }
    
    .footer-icon{
        display: flex;
        border: 1px solid blue;
        width: 10%;
        height: 50px;
        margin: 0 auto;
        flex-direction: row;
        align-items: flex-end;
    }
    .footer-icon img{
        padding-right: 12px;
    
    }
}