
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif!important;
}
/* page1:  */
.exchange_bar{

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu {
    z-index: 10;
    /* position: fixed; */
     /* border: 1px solid red; */
    width: 100%;
    /* height: 70px; */
    display: flex;
    background: #fff;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
}
.menu2 {
    z-index: 9;
    /* position: fixed; */
    position: relative;
    /* top: 64px; */
     border: 1px solid red;
    width: 100%;
    padding-left: 2%;
    display: flex;
    background: #fff;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3);
}
.menu ul, .menu2 ul{
 margin: auto;
  /* margin-right: 50px; */
  width: 100%;
}
.menu li {
    border: 1px solid yellow;
   float: right;
    list-style: none;
    font-size: 16px;
   margin: 16px;
    margin-left: 12px;
    padding: 6px 6px 6px 10px;
}

.menu2 li {
    border: 1px solid rgb(173, 171, 171);
    border-radius: 10px;
   float: left;
    list-style: none;
    font-size: 16px;
    margin: 10px;
    padding: 6px 10px;
}

.menu li a, .menu2 li a {
   
    text-decoration: none;
    color:gray;
    transition: color linear 0.15s;
    cursor: pointer;
}

.menu .menu-logo {
    width: 45px;
    height: 45px;
    margin: auto;
    margin-left: 20px;
}

.menu .menu-logo a {
    color: #fff;
}
.language-switch{
  width: 10%;
  display: flex;
  border: 1px solid red;
  margin-left: 7%;
}
.language-switch>h1{
  display: flex;
  /* position: relative; */
  margin: auto;
  border: 1px solid red;
  color: grey
}
.language-switch>span.triangle1{
  display: flex;
  margin: auto;
  margin-left: 3%;
  border: 10px solid red;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgb(148, 148, 148);
  border-bottom: 8px solid transparent;
  width:0px;
  height:0px;
}

.menu a:hover, .menu  {
    text-decoration: none;
    color: #17ad99;
}

.toggle-nav {
    display: none;
    /* z-index: 9; */
}
.search-partner-input {
  margin-right: 5%;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.search-partner-input-btn{
  background: linear-gradient(270deg,#64d4b8,#17ad99);
  width: 44px;
  height: 38px;
  line-height: 64px;
  text-align: center;
  border-left: 1px solid #e9e9eb;
  border: 1px solid blue;
  border-radius: 10px 0 0 10px;

}
.search-partner-input-btn {
  display: flex;
}
.search-partner-input-btn img {
  width:24px;
  height:24px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  margin-top: 8px;
  margin-left: 12px;
}
.search-partner-input input {
  border: 1px solid green;
  width: 200px;
  height: 38px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 0 10px 10px 0;
}

/* content */

.partner-card-container{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
   display: flex;
}

.cards{
    /* position: relative; */
    display: flex;
    margin-bottom: 20px;
    z-index: 1;
    margin-top: 140px;
    border: 1px solid orange;
    width: 100%;
}
.cards-left{
    position: relative;
    width: 75%;
    min-height: 284px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 25px 0px;
    cursor: pointer;
    padding: 25px 20px 25px 20px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

.cards-detail-top{
  display: flex;
  border-bottom: 1px solid #9c9c9c;
  padding: 30px;
}

.ant-avatar-icon>img {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 60px;
    height: 60px;
    line-height: 160px;
    font-size: 39px;
    border-radius: 50%;
   
}

.request-btn{
    margin-top: 35px;
    border-radius: 10px;
    -webkit-appearance: button;
    min-height: 3px;
    padding: 8px 10px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: #ff4238   
}



.partner-card-information{
  position: relative;
  /* border: 1px solid green; */
}
.partner-card-information h1 {
  
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(51, 51, 51);
  
}
.partner-card-information h2, h3 {
  
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 14px;
  /* font-weight: 400; */
  color: rgb(51, 51, 51);

}
.partner-card-information h3.read-more {
  text-align: right;
  color: rgb(141, 139, 139);
  font-style: italic;

}
.light{
    /* border: 1px solid red; */
    padding-left: 16px;
    margin-left: 430px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;}
 

#light-closed::before{
    content: " ";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: rgb(95, 95, 95);
}

div.light::before{
  content: " ";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: rgb(62, 221, 62);
}
.partner-card-information p {
    font-family: -apple-system;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: rgb(119, 119, 119);
    /* text-transform: uppercase; */
}


.voice-container{
  position: absolute;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid grey;
  background-color: rgb(240, 238, 238);
  width: 300px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}



.voice-container> span.progress{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #a7a7a7;

  
}

.voice-container>.voice-circle{
  position: relative;
  top: -15px;
  left: 5px;
  border: 1px solid grey;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: grey;
}
span.second{
  position: relative;
  color: grey;
  left: 260px;
  top: 10px;
}
span.triangle1{
  display: inline-block;
  position: relative;
  top: 5px;
  left: 8px;
  /*border: 10px solid red;*/
  
  border-left: 18px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  width:0px;
  height:0px;
}


#read-more-voice{
  margin-top: 100px;
}
  .cards-right{
    display: flex;
    margin-left: 5%;
    height: 330px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 7px 25px 0px;
    padding: 25px 20px 25px 20px;
    border-radius: 0px 6px 6px 0px;
    background: rgb(255, 255, 255);
}

img{
  margin-left: 12px;
}

.cards-right h1>span {
  display: flex;
  border-bottom: 1px solid rgb(114, 114, 114);
  padding-bottom:10px;
  font-size: 20px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  
}
.content>h2{
  display: flex;
  margin: 0;
  width: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
a{
  text-decoration: none;
}
.get-corrected-btn{
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  width: 180px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  background-image:linear-gradient(270deg,#64d4b8,#17ad99);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 10px 0px;
  border-radius: 4px;

  justify-content: center;
  /* line-height: 56px; */
  cursor: pointer;
  padding-top: 10px;
  /* text-decoration: none; */
}


div.pagination_block{
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
div.pagination_block > ul.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
div.pagination_block > ul.pagination > li{
  display: inline-block;
}
div.pagination_block > ul.pagination > li > a{
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgb(175, 173, 173); 
  border-right: 0;
  text-align: center;
  padding: 10px 15px;
  font-size: 1rem;
  color: #64d4b8;
}

div.pagination_block > ul.pagination > li:last-child > a{
  border-right: 1px solid rgb(175, 173, 173);
  border-radius: 0 5px 5px 0;
}

div.pagination_block > ul.pagination > li:first-child > a{
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

div.pagination_block > ul.pagination > li > a.-on{
  background-color: #e9ecef;
  color: #64d4b8;
}

div.pagination_block > ul.pagination > li > a:hover{
  background-color: #e9ecef;
  color: #64d4b8;
}



/* bottom-banner */


.wrapper-style{
    /* background-attachment: scroll; */
    width: 100%;
    text-align: center;
    border: 2px solid blue;
    color: white;
    background-image: url(../picture/people/man_laptop3.jpg);
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;

}

.foot{
    padding: 0;
    border: 8px solid green;
    margin: auto;
}
.foot>h1.foot1{
    border: 3px solid yellow;
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    margin: 70px auto 30px;
    /* padding-top: 100px; */
    /* padding-bottom: 0px; */
}
.foot>p{
    font-size: 1.3rem;
    line-height: 1.6;
    width: 70%;
    margin: 0 auto;
    /* display: inline-flex; */
    text-align: center;
    /* margin-bottom: 30px; */
    border: 2px solid purple;
}


.get-started-btn{
    display: inline-block;
    margin: 30px auto 70px;
    padding: 0 15px;
    width: 240px;
    height: 56px;
    font-size: 18px;
    color: #fff;
    background-image:linear-gradient(270deg,#64d4b8,#17ad99);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 25px 0px;
    border-radius: 4px;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
}

/* footer */
.footer-part1{
    border: 1px solid green;
    width: 80%;
    align-items: flex-start;
    /* border-bottom: none; */
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
.language-container{
    width: 20%;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
    margin-top: 50px;

    color: grey;
    line-height: 1.6;
    font-size: 14px;

}
.footer-language>h3{
    color: black;
}
.language-container>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
    
}

.footer-icon{
    display: flex;
    border: 1px solid blue;
    width: 10%;
    height: 50px;
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-end;
}
.footer-icon img{
    padding-right: 14px;

}

